.box {
    max-width: 600px;
    min-height: 500px;
    margin: 40px auto 0 auto;
    padding: 20px;
    background-color: #302F2F;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.box__title {
    text-transform: uppercase;
    font-size: 25px;
    margin: 0 0 20px 0;
    text-align: center;
    color: #9C71C8;
}

@media (max-width: 610px){
    .box {
        margin: 40px 10px 0 10px;
    }
}